.list {
	display: flex;
	gap: 18px;
	margin: 12px 0 -8px;
	padding: 0 0 8px;

	overflow: auto;

	list-style: none;
}

.article {
	box-sizing: border-box;
	padding: 18px;
	width: 250px;
	height: 150px;

	font-size: 20px;
	line-height: 24px;
	font-weight: 300;

	background-color: #FFFFFF;
	border: 1px solid #EAEAEA;
	border-radius: 16px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.article.first {
	margin-left: 12px;
}

.article.last {
	margin-right: 12px;
}
