@font-face {
	font-family: system;
	/* stylelint-disable-next-line max-line-length */
	src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
	margin: 0;
	/* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
	font-family: Roboto, system;
}
