.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 4px 10px;

	color: #ffffff;
	font-family: inherit;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;

	background-color: #5100E8;
	border: none;
	border-radius: 7px;
}

.button:disabled {
	background-color: #9E9E9E;

	cursor: not-allowed;
}

.button:focus:not(:disabled),
.button:hover:not(:disabled) {
	background-color: #7d40f2;

	cursor: pointer;
}
